<div class="fix">
    <nav class="navbar navbar-expand-lg " id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-trophy  fa-3x"></i>
                
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                    <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">REGISTER</a></li>
                    <li class="nav-item"><a class="nav-link" href="/generate-certificate">PDF-GENERATOR</a></li>
                    <li class="nav-item"><a class="nav-link" href="/leaderboard/all">LEADERBOARD</a></li>                      
                </ul>
            </div>
        </div>
    </nav>
</div>